body {
  height: 100vh;
  width: 100vw;
  
  padding: 0;
  margin: 0;

  background-color: #f5f1f1;
  display: flex;

  overflow-x: hidden;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3 em;
}

.cabecera {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  margin-left: 0em;
  margin-bottom: 1em;
  
}


#textoCabecera{
  width: 50em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}

#textoCabecera1{
  width: 50em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}

#textoCabecera2{
  width: 50em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}


@media only screen and (max-width: 380px) {
  .imagenlogo{
    display: none;
    
  }
}

.imagenlogo:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.3em rgba(151, 151, 160, 0.285));
}


/* Diseño interior del contenido "River Club" */

#index.p1{

  margin: 0%;
  padding: 0%;

  height: 100vh;
  width: 100vw;

}

.background-blue{
 
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  /* background-color: aqua; */
}

      #responsiveTexto1{
        background-color: beige;
      }

      #textoExpl{
        color:black
      }

/* Diseño interior contenido imagen */
@media only screen and (max-width: 380px) {
  .responsiveInforimg{
    display: none;
    
  }
}

/* .background-red{
background-color: red;
} */

#siteImage1{
  margin:0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

}
    .responsiveInforimg{  
      /* De esta forma se ajusta una imagen al contenido de la caja.              */
        width: 100%;
        height: auto;

    }


.h-33{
    height: 33vh;
}

.background-sky{
  background-color: rgb(255, 0, 119);
}

.background-yellow{
  background-color: rgb(212, 255, 0);

}


/* Damos formato al contenido de la página Carta. */

.titleText{
  display: flex;
  background-color:red;
  margin-top: 0em;
}

.titleText2{
  display: flex;

  margin-top: 1.5em;
  background-color: aquamarine;
}

.price2{
  display: flex;
  justify-content: flex-end;
  background-color: aqua;

  margin-top: 1.5em;
}

.price{
  display: flex;
  justify-content: flex-end;
  background-color: aqua;
}

.cartaEnsaladas{
  margin: 0;
  padding: 0;

  display: content;

  background-color: black;
}


#fotoTipoEnsalada{
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;


  background: url("/img/ensalada.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  
  width: 100%;
  height: 30vh; /* You must set a specified height */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
       

}

#fotoTipoHamburguesa{
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;


  background: url("/img/hamburguesa.jpeg");
  background-color: #cccccc; /* Used if the image is unavailable */
  
  width: 100%;
  height: 30vh; /* You must set a specified height */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
       

}

#fotoTipoCarne{
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;


  background: url("/img/arroz.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  
  width: 100%;
  height: 30vh; /* You must set a specified height */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
       

}

#fotoTipoPostre{
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;


  background: url("/img/postre.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  
  width: 100%;
  height: 30vh; /* You must set a specified height */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
       
}
.h2InforCart{
  display: flex;
  justify-content: center;
  align-items: center;
}

#inforEnsaladas{

  background-color: aqua;
}

/* CSS de la Carta situada en index.html */
 .background-red{
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

}

.background-yellow{
  background-color: yellow;
}

.background-green{
  background-color: rgb(140, 255, 105);
}

.background-lila{
  background-color: rgb(255, 105, 205);
}

.background-orange{
  background-color: rgb(223, 105, 26);
}

.container-fluid 1{
  margin:100%;
  height: 100vh;

  background-color: bisque;
}

row cartaIndex1{
  margin: 0;
  padding: 0;

  height: 40vh;
}
.indexEnsaladaprueba{
  width: 10em;
  height: 10em;
}

.row h-33 index{
  margin: 0;
  padding: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;

}

.picture{
  width: 100%;
  height: auto;

  display: block;
 
  border-radius: 2%;
}

.columna1Index {
  position: relative;
  width: 100%;
  border-radius: 10%;}

.columna1Index:hover{

display: flex;
justify-content: center;
align-items: center;

flex: 0 0 1;
cursor: pointer;
box-shadow: 1em 1px 3em #00000029;
/* transform: scale (0.1em); */
/* transform: scale(1.05);
}



.textoIndex1{
  position: absolute;
  top: 50%;
  left: 50%;

  color:white;
  text-align: center;
  transform: translate(-50%,-50%);

}

#cartaIndexCenter{
  margin: 0;
  padding: 0;

  display: grid;
  justify-content: center;
  align-items: center;

}
