body {
  height: 100vh;
  width: 100vw;
  
  padding: 0;
  margin: 0;

  background-color: #f5f1f1;
  display: flex;


  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3 em;
}

.cabecera {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  margin-left: 0em;
  margin-bottom: 1em;
  
}


#textoCabecera{
  width: 50em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}

#textoCabecera1{
  width: 50em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}

#textoCabecera2{
  width: 50em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}


@media only screen and (max-width: 380px) {
  .imagenlogo{
    display: none;
    
  }
}

.imagenlogo:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.3em rgba(151, 151, 160, 0.285));
}


/* Diseño interior del contenido "River Club" */

#index.p1{

  margin: 0%;
  padding: 0%;

  height: 100vh;
  width: 100vw;

}

.background-blue{
 
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  /* background-color: aqua; */
}

      #responsiveTexto1{
        background-color: beige;
      }

      #textoExpl{
        color:black
      }

/* Diseño interior contenido imagen */
@media only screen and (max-width: 380px) {
  .responsiveInforimg{
    display: none;
    
  }
}

/* .background-red{
background-color: red;
} */

#siteImage1{
  margin:0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

}
    .responsiveInforimg{  
      /* De esta forma se ajusta una imagen al contenido de la caja.              */
        width: 100%;
        height: auto;

    }


.h-33{
    height: 33vh;
}

.background-sky{
  background-color: rgb(255, 0, 119);
}

.background-yellow{
  background-color: rgb(212, 255, 0);

}

/* Le daremos formato al div con la información de la carta, situada en el index. */
.h2IndexCarta{
  margin: 0;
  padding: 0;

  margin-top: 1.5em;
  margin-bottom: 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.background-arroz{
  background-color: yellow;
}

.background-hamb{
  margin: 0;
  padding: 0;
  width: auto;
  display: flex;
  justify-content: end;
  flex-direction: column-reverse;
 
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  overflow: hidden;

  background: url("/img/hamburguesa.jpg")
        no-repeat 50% / cover ;
}

 /* Le daremos formato al div con la información de la carta, situada en el index. */
.h2IndexCarta{
  margin: 0;
  padding: 0;

  margin-top: 1.5em;
  margin-bottom: 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#indCarta{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#indexCarta {
  width: 100%;

  display: flex;
  justify-content: center;
  

  height: 30em;
  gap: 1em;

  margin-bottom: 1em;

  > div {
    flex: 0 0 10em;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("/img/hamburguesa.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("/img/ensalada.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("/img/arroz.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url("/img/postre.jpg")
        no-repeat 50% / cover;
    }

    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      justify-content: flex-end;
    
  
      padding: 15em;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5em;
        font-size: 1.2rem;
      }
    }

    &:hover {
      display: flex;
      justify-content: center;
      align-items: center;

      flex: 0 0 15em;
      box-shadow: 1em 1px 3em #000000;
      transform: translatey(-0.5em);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}
.textIndCarta{
  display: flex;
  justify-content: center;
  align-items: center;
  /* Intentamos añadir flex-direction para girar el texto pero no nos realiza cambios. */
  
  height: 50vh;

}
.textIndCarta{
  display: flex;
  justify-content: center;
  align-items: center;
  /* Intentamos añadir flex-direction para girar el texto pero no nos realiza cambios. */
  
  height: 50vh;

} 
/* .h3 textIndCarta {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

} */


/* Damos formato al contenido de la página Carta. */

.titleText{
  display: flex;
  background-color:red;
  
}

.price{
  display: flex;
  justify-content: flex-end;
  background-color: aqua;
}

.cartaEnsaladas{
  margin: 0;
  padding: 0;

  display: content;

  background-color: black;
}


#fotoTipoEnsalada{
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;


  background: url("/img/ensalada.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  
  width: 100%;
  height: 30vh; /* You must set a specified height */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
       

}

#fotoTipoHamburguesa{
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;


  background: url("/img/river3.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  
  width: 100%;
  height: 30vh; /* You must set a specified height */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
       

}

#fotoTipoCarne{
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;


  background: url("/img/arroz.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  
  width: 100%;
  height: 30vh; /* You must set a specified height */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
       

}

#fotoTipoPostre{
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;


  background: url("/img/postre.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  
  width: 100%;
  height: 30vh; /* You must set a specified height */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
       
}
.h2InforCart{
  display: flex;
  justify-content: center;
  align-items: center;
}

#inforEnsaladas{

  background-color: aqua;
}



