body {
  height: 100vh;
  width: 100vw;
  
  padding: 0;
  margin: 0;

  background-color: #f5f1f1;
  display: flex;

  overflow-x: hidden;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3 em;
}
.caja{
  padding: 1em 0;
}

.cabecera {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  margin-left: 0em;
  margin-bottom: 1em;
  
}


#textoCabecera{
  width: 50em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}

#textoCabecera1{
  width: 50em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}

#textoCabecera2{
  width: 50em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}


@media only screen and (max-width: 380px) {
  .imagenlogo{
    display: none;
    
  }
}

.imagenlogo:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.3em rgba(151, 151, 160, 0.285));
}


/* Diseño interior del contenido "River Club" */

#index.p1{

  margin: 0%;
  padding: 0%;

  height: 100vh;
  width: 100vw;

}

.background-blue{
 
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  /* background-color: aqua; */
}

      #responsiveTexto1{
        margin: 0;
        padding: 0;
        
      }

      #textoExpl{
        color:black
      }

/* Diseño interior contenido imagen */
@media only screen and (max-width: 380px) {
  .responsiveInforimg{
    display: none;
    
  }
}

/* .background-red{
background-color: red;
} */

#siteImage1{
  margin:0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

}
    .responsiveInforimg{  
      /* De esta forma se ajusta una imagen al contenido de la caja.              */
        width: 100%;
        height: auto;

    }



/* Damos formato al contenido de la página Carta. */

.titleText{
  display: flex;
  margin-top: 0em;
}

.titleText2{
  display: flex;

  margin-top: 1.5em;
}

.price2{
  display: flex;
  justify-content: flex-end;

  margin-top: 1.5em;
}

.price{
  display: flex;
  justify-content: flex-end;
}

.cartaEnsaladas{
  margin: 0;
  padding: 0;

  display: content;

  background-color: black;
}


#fotoTipoEnsalada{
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;


  background: url("/img/ensalada.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  
  width: 100%;
  height: 30vh; /* You must set a specified height */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
       

}

#fotoTipoHamburguesa{
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;


  background: url("/img/hamburguesa.jpeg");
  background-color: #cccccc; /* Used if the image is unavailable */
  
  width: 100%;
  height: 30vh; /* You must set a specified height */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
       

}

#fotoTipoCarne{
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;


  background: url("/img/carnes.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  
  width: 100%;
  height: 30vh; /* You must set a specified height */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
       

}

#fotoTipoPostre{
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;


  background: url("/img/postre.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  
  width: 100%;
  height: 30vh; /* You must set a specified height */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
       
}
.h2InforCart{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* CSS de la Carta situada en index.html */
 .background-red{
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

}


.container-fluid 1{
  margin:100%;
  height: 100vh;

  background-color: bisque;
}

row cartaIndex1{
  margin: 0;
  padding: 0;

  height: 40vh;
}
.indexEnsaladaprueba{
  width: 10em;
  height: 10em;
}

.row h-33 index{
  margin: 0;
  padding: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;

}

.picture{
  width: 100%;
  max-height: 13em;

  display: block;
 
  border-radius: 2%;
}

.columna1Index {
  position: relative;
  width: 100%;
  border-radius: 10%;}

.columna1Index:hover{

display: flex;
justify-content: center;
align-items: center;

flex: 0 0 1;
cursor: pointer;
box-shadow: 1em 1px 3em #00000029;
 transform: scale (0.1em); 
 transform: scale(1.05);
}



.textoIndex1{
  position: absolute;
  top: 50%;
  left: 50%;

  color:white;
  text-align: center;
  text-shadow: #0e0e0e 0.2em 0.2em 0.2em;
  font-size: 2em;
  transform: translate(-50%,-50%);


}

#cartaIndexCenter{
  margin: 0;
  padding: 0;

  display: grid;
  justify-content: center;
  align-items: center;

}
 
/* Formulario contacto */

.contact_form{  
  width: 60%; 
  height: auto;
  margin: 1em auto;
  border-radius: 1em;  
  padding-top: 2em;
  padding-bottom: 2.5em;  
  background-color: #fbfbfb; 
  padding-left: 2.8em; 
}


input {
  background-color: #fbfbfb; 
  width: 90%; 
  height: 3em; 
  border-radius: 0.5em;  
  border-style: solid; 
  border-width: 0.01em; 
  border-color: #acacac; 
  margin-top: 0.6em;  
  padding-left:0.6em;
  margin-bottom: 1.2em; 
}


textarea{
  background-color: #fbfbfb; 
  width: 90%; 
  height: 10em; 
  resize: none;
  border-radius: 0.5em;  
  border-style: solid; 
  border-width: 0.01em; 
  border-color: #acacac; 
  margin-top: 0.6em;  
  padding-left:0.6em;
  margin-bottom: 1.2em; 
}


label{
  display: block; 
  float: center;  
}


.botonContacto{
  height: 2.5em; 
  justify-content: center;
  align-items: center;
  text-align: center;


  text-transform: uppercase;
  background-color: #d9ad26; 
  border-color: #d9ad26; 
  border-style: solid; 
  border-radius: 1em;  
  width: 90%;   
  cursor: pointer;
}


button p{
  color: #fff; 
  margin-top: none !important;
  margin-bottom: none !important;
}


span{
  color: #ab6a44; 
}


.aviso{
  font-size: 0.9em;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #ab6a44;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 1.2em; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #d89e48;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #d89e48;
}

#footercambiar{
  margin-top: 2em;
}
#footercambiar1{
  margin-top: 2em;
}
#footercambiar2{
  margin-top: 2em;
}
.h2CartaIndex{
 font-size; 10em: 
}

.h2IdexConoce{
  display: flex;
  justify-content: center;
  margin-bottom: 0.8em;;
}

.imagenprincipal{
  margin: 0;
  padding: 0;

  width: 100%;
  height: 40%;
}

